// General Mixins
//
// --------------------------------------------------------------------------------



// Absolute and Fixed Positioning
// --------------------------------------------------------------------------------

@mixin pos($top: auto, $right: auto, $bottom: auto, $left: auto, $pos: absolute) {
	position: $pos;
	top: $top;
	right: $right;
	bottom: $bottom;
	left: $left;
}
@mixin positioning($pos: absolute, $top: null, $right: null, $bottom: null, $left: null) {
	@if $left { 
		@include pos($top,$right,$bottom,$left,$pos);
	} @else if $bottom { 
		@include pos($top,$right,$bottom,$right,$pos);
	} @else if $right { 
		@include pos($top,$right,$top,$right,$pos);
	} @else if $top { 
		@include pos($top,$top,$top,$top,$pos);
	} @else { 
		@include pos();
	}
}
@mixin abspos($top: null, $right: null, $bottom: null, $left: null) {
	$pos: absolute;
	@include positioning($pos,$top,$right,$bottom,$left);
}
@mixin fixpos($top: null, $right: null, $bottom: null, $left: null) {
	$pos: fixed;
	@include positioning($pos,$top,$right,$bottom,$left);
}


// Shapes (coming soon)
// --------------------------------------------------------------------------------